{
    "presets": ["env", "react"],
    "plugins": ["transform-runtime", "syntax-dynamic-import", "transform-object-rest-spread", "react-hot-loader/babel"],
    "env": {
        "test": {
          "presets": ["react"]
        }
    }
}