@import base/index

+font-face('MyCustomFont', 'CoolStuff.ttf', 'truetype')

body
    text-align: center

p.results
    width: 100%
    color: $color-text
    text-align: center
    font-family: 'MyCustomFont', sans-serif
    font-size: responsive
