$body-color: tomato

@font-face 
   font-family: 'MyFont'
   src:  url('../assets/fonts/Abuget.ttf') format('truetype')
   font-weight: 600
   font-style: normal

body 
    width: 100%
    
.imgClass 
    height: 200px
    width: 200px

.pClass
    width: 100%
    color: blue
    text-align: center
    font-family: 'MyFont', sans-serif
    font-size: responsive
